<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if @query %>
<h2 class="content-subhead">Results for '<%= @query %>'</h2>
  <% if @results.empty? %>
    <p>Sorry, no match were found</p>
  <% else %>
    <ul>
      <% @results.each do |result| %>
        <li>
          <a href="/chapters/<%= result[:number] %>">
            <strong><%= result[:title] %></strong>
          </a>
        </li>

        <% if result[:ids_parags] && !result[:ids_parags].empty? %>
          <ul>
            <% result[:ids_parags].each do |parag_id, parag| %>
            <li>
              <a href="/chapters/<%= result[:number] %>#<%= parag_id %>">
                <%= parag %>
              </a>
            </li>
            <% end %>
          </ul>
        <% end %>

      <% end %>
    </ul>
  <% end %>
<% end %>
