<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if @search_str %>
<h2 class="content-subhead">Results for '<%= @search_str %>'</h2>
  <% if @results.empty? %>
    <p>Sorry, no match were found</p>
  <% else %>
    <ul>
      <% @results.each_pair do |chapter_number, result| %>
        <li><strong><%= result.first %></strong></li>
        <% if result.size > 1 %>
          <ul>
          <% result[1..-1].each do |parag| %>
            <li><a href="/chapters/<%= chapter_number %>"><%= parag %></a></li>
          <% end %>
          </ul>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>